ModuloAdministracionDeProveedores
RegistrarProveedor
ActualizarProveedor
SolicitarBaja
EliminarProveedor
ModuloAdministracionDeServicios
PublicarServicios
CrearSevicio
EditarServicio
EliminarServicio
PublicarPaquetes
ArmarPaquete
EditarPaquete
EliminarPaquete
ConfigurarCategoria
ModuloBusquedas
BuscarServicios
ConsultarServicio
VerPreguntas
RealizarPreguntas
ModuloCompras
AgregarCarrito
ComprarServicio
CalificarComentarServicio
ConsultarTransaccionesyVentas
ModuloComunicacion
ResponderPreguntas
ModuloRegistro
RegistroLocal
AutenticacionLocal
ModuloBusquedaPersonalizada
